*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(6, 6, 37);
  color: white;
  font-family: 'Poppins', sans-serif;
}
main h1{
  font-size: 1.8rem;
  font-weight: 600;
}
main hr{
  border: 0;
  background-color: blueviolet;
  height: 1.2px;
  margin:24px 0px ;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(91, 99, 156);
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  text-decoration: none;
  color: aliceblue;
}
nav ul li a:hover{
  color: rgba(62, 10, 75, 0.808);
  text-decoration-line: underline;
  font-weight: 600;
  font-size: 1rem;
}
header .left {
  font-size: 1.3rem;
}

.firstsection{
  display: flex;
  justify-content: space-between;
  margin: 85px 0;
  align-items: center;
}
.firstsection > div{
    width: 33%;
}
.leftsection{
  font-size: 2.6rem;
  margin-left: 9%;
}
.rightsection img{
  width: 93%;
  height: 99%;
}
.purple{
  color: blueviolet;
}
#element{
  color: blueviolet;
}
.secondsection{
  max-width: 94vw;
  margin: auto;
  height: 80vh;
}
.secondsection .head{
  margin-left: 56px;
}
.secondsection .gray-text{
  color: gray;
  font-size: 1rem;
  font-weight: 400;
}
.secondsection .hanger{
  background-color: white;
  width: 87vw;
  height: 2px;
  margin: 45px 55px;
  display: flex;
  }
.secondsection .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 2px 90px;
  }
.img-top{
  width: 20px;
  position: relative;
  top: -25px;
  left: -9px;
}
.vertical-title{
  position: relative;
  top: 65px;
  width: 135px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 20px;
}
.vertical-desc{
  position: relative;
  font-size: 0.6rem;
  width: 154px;
  top: 80px;
}